{%extends "main.html"%}
{%load static%}
{%block content%}
{%include "header.html"%}
{%include "chatpage.html"%}
       
        <section id="main" data-layout="layout-1">
            <section id="content">
                <div class="container">

                    <div class="card">
                        
                        <div class="card-body card-padding">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                
                              
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="{% static 'media/carousel/c-1.jpg'%}" alt="">
                                        <div class="carousel-caption">
                                            <h3>Surveillance</h3>
                                            <p>You Are Being Monitored...</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'media/carousel/c-2.jpg'%}" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'media/carousel/c-3.jpg''%}" alt="">
                                    </div>
                                </div>
                              
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="zmdi zmdi-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="zmdi zmdi-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

               
                    <div class="mini-charts">
                        <a href="#"><div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-cyan">
                                    <div class="clearfix">
                                        <div class="chart stats-bar"></div>
                                        <div class="count">
                                            <strong>Total LPR</strong>
                                            <h2>{{total_lpr}}</h2>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                            
                            
                            <div class="col-sm-6 col-md-3">
                                <a href="/known"><div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line"></div>
                                        <div class="count">
                                            <strong>Faces Recognized</strong>
                                            <h2>{{total_known}}</h2>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <a href="/unknown"><div class="mini-charts-item bgm-bluegray">
                                    <div class="clearfix">
                                        <div class="chart stats-line-2"></div>
                                        <div class="count">

                                            <strong>Untrained Faces</strong>
                                            <h2>{{total_unknown}}</h2>
                                        </div>
                                    </div>
                                </div></a>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <a href="/training"><div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-bar-2"></div>
                                        <div class="count">
                                            <strong>Trained Faces</strong>
                                            <h2>{{total_known}}</h2>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                        </div>

                    </div>


                         <div class="card-body card-padding">

                         
                           <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <a href="#"><div class="thumbnail">
                                        <img src="{% static 'media/carousel/lpr.jpg'%}" alt="">
                                        <div class="caption">
                                            <h4>Number Plate Recognition</h4>
                                            <p>Even Vehicle Will Not Escape Without Capturing.</p>
                                            
                                            
                                        </div>
                                    </div></a>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <a href="/known"><div class="thumbnail">
                                        <img src="{% static 'media/carousel/known.jpg'%}" alt="">
                                        <div class="caption">
                                            <h4>Identified People</h4>
                                            <p>All Identified People From Monitoring Are Here</p>
                                            
                                            
                                        </div>
                                    </div></a>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <a href="/unknown"><div class="thumbnail">
                                        <img src="{% static 'media/carousel/unknown.jpg'%}" alt="">
                                        <div class="caption">
                                            <h4>UnIdentified People</h4>
                                            <p>Even The Unkown People Are Not Escaped</p>
                                            
                                            
                                        </div>
                                    </div></a>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <a href="/training"><div class="thumbnail">
                                        <img src="{% static 'media/carousel/train.jpg'%}" alt="">
                                        <div class="caption">
                                            <h4>Training</h4>
                                            <p>Teach Me New Faces Which You Want Me To Recognize</p>
                                            
                                            
                                        </div>
                                    </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div id="site-visits" class="dash-widget-item bgm-teal">
                                    <div class="dash-widget-header">
                                        <div class="p-20">
                                            <div class="dash-widget-visits"></div>
                                        </div>
                                        
                                        <div class="dash-widget-title">For the past 30 days Face Recognition Statistics</div>
                                        
                                        
                                    </div>
                                    
                                    <div class="p-20">
                                        
                                        <small>Total Monitored Faces</small>
                                        <h3 class="m-0 f-400">{{thirtydays_all}}</h3>
                                        
                                        <br/>
                                        
                                        <small>Identified Faces</small>
                                        <h3 class="m-0 f-400">{{thirtydays_known}}</h3>
                                        
                                        <br/>
                                        
                                        <small>UnIdentified Faces</small>
                                        <h3 class="m-0 f-400">{{thirtydays_unknown}}</h3>
                                    </div>
                                </div>
                            </div>
                            
                                    <div class="col-md-3 col-sm-6">
                                <div id="site-visits" class="dash-widget-item bgm-teal">
                                    <div class="dash-widget-header">
                                        <div class="p-20">
                                            <div class="dash-widget-visits"></div>
                                        </div>
                                        
                                        <div class="dash-widget-title">
                                        Today Face Recognition Statistics</div>
                                        
                                    </div>
                                    
                                    <div class="p-20">
                                        
                                        <small>Total Monitored Faces</small>
                                        <h3 class="m-0 f-400">{{total_today}}</h3>
                                        
                                        <br/>
                                        
                                        <small>Identified Faces</small>
                                        <h3 class="m-0 f-400">{{today_known}}</h3>
                                        
                                        <br/>
                                        
                                        <small>UnIdentified Faces</small>
                                        <h3 class="m-0 f-400">{{today_unknown}}</h3>
                                    </div>
                                </div>
                            </div>
   


                            <div class="col-sm-6">
                            <!-- Calendar -->
                            <div id="calendar-widget"></div>


                        </div>
    
                            
                        </div>
                    </div>
                       
                    
                </div>
<footer id="footer">
            Copyright &copy; 2017 Zoom CCTV
            
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Timeline</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </footer>


            </section>
        </section>
        
        
        <!-- Page Loader -->






{%endblock%}

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
 