 
 <div class="row">
<div class="col-md-4 col-sm-6">
<div class="card">
                                <div class="card-header">
                                    <h2>Attention Seekers <small>Click on the buttons below to start the animation</small></h2>
                                </div>
                                
                                <div class="card-body card-padding">
                                    <img src="/static/img/headers/sm/1.png" alt="">
                                        
                                    <div class="row animation-demo">
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">bounce</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">flash</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">pulse</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">rubberBand</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">shake</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">swing</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">tada</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn bgm-cyan">wobble</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>