{%load static%}
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h2 style="text-align: center;">Visitor Reports</h2>
<table align="center">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th >Status</th>
    <th >Visited_at</th>
  </tr>
  {%for data in userinfo%}
  <tr>
    
    <td style="width:20%"><img src="/home/zoom/Desktop/demoproject/demoapp{{data.image}}" alt="" style="height:100px;width:100px;"></td>
    <td style="width: 10%">{{data.name}}</td>
    <td style="width: 10%">{{data.status}}</td>
    <td style="width: 20%">{{data.created_at}}</td>
  </tr>
{%endfor%}
</table>

</body>
</html>
