{%extends "main.html"%}
{%load static%}
{%block content%}
{%include "header.html"%}
{%include "chatpage.html"%}
        <section id="main">
           

            
        
            <section id="content">
                
                <div class="container">
                    
                    <div class="card">
                        
                
                        <div class="card-body card-padding">
                        
                            <div id="data-replace">                   
                             <div class="row" id="timeline-edit-selecte">
                                
                                <div class="pt-line text-right">
                                    
                                    <span class="d-block">{{current_year}}</span>
                                    {{current_day_month}}
                                </div>  
                
                                
                                
                                    <h2 class="ptb-title">TimeLine Photos</h2>
                                    <div class="btn-demo" id="btn-color-targets">
                                    
                                    {%for k,v in current_dict.items%}
                                    
                                    <a data-toggle="modal" href="#name" class="" id="timeline-img" name="{{v.1}}">
                                        
                                        <img src="{{v.0}}" alt="" style="height:100px;width: 100px;>
                                    </a>

                                    <div class="modal" id="name" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" id="popup-replace">

                                            </div>
                                            </div>
                                    
                                    {%endfor%}
                                

                                </div>
                                    
                            </div>
                        
                        </div>
                            
                          
                          <div class="p-timeline">
                            <div class="row" id="timeline-edit-selecte">
                           <div class="pt-line text-right">
                                    
                                    <span class="d-block">{{pre_year}}</span>
                                    {{pre_day_month}}
                            </div>  
                               
                                
                                {%for k,v in previous_dict.items%}
                                
                                
                                <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;width: 82px">
                                    
                                    <div class="thumbnail" style="margin-bottom:0px;border:none;">
                                        
                                        <p style="display: none"><img src="/static/images/green-tick.png" class="" alt="" style="height:30px;width:30px"></p>
                                        
                                        <input type="checkbox" name="vehicle" value="{{uuid}}" class="multcheckbox" style="display:none;">

                                        <img src="{{v.0}}" alt="" style="height:100px;width: 100px;" >
                                        <!-- <strong>{{image.1}}</strong> -->
                                        
                                    </div>
                                   
                                </div>
                                {%endfor%}
                                                                

                                    </div>
                            </div>



                           <!-- <div class="p-timeline">
                                
                                <div class="pt-line text-right">
                                    
                                    <span class="d-block">{{pre_year}}</span>
                                    {{pre_day_month}}
                                </div>  
                
                                <div class="pt-body">
                                    <h2 class="ptb-title">TimeLine Photos</h2>
                                    <div class="btn-demo" id="btn-color-targets">
                                    
                                    {%for k,v in previous_dict.items%}
                                    
                                    <a data-toggle="modal" href="#name" class="" id="timeline-img" name="{{v.1}}">
                                        
                                        <img src="{{v.0}}" alt="" style="height:100px;width: 100px;" >
                                    </a>

                                    <div class="modal" id="name" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" id="popup-replace">

                                            </div>
                                            </div>
                                    
                                    {%endfor%}
                                

                                </div>
                                    
                            </div>
                        
                        </div>
 -->
<!--                             <div class="p-timeline">
                                
                                <div class="pt-line  text-right">
                                    
                                    <span class="d-block">{{prepre_year}}</span>
                                    {{prepre_day_month}}
                                </div>  
                
                                <div class="pt-body">
                                    <h2 class="ptb-title">TimeLine Photos</h2>
                                    <div class="btn-demo" id="btn-color-targets">
                                    
                                    {%for k,v in prepre_dict.items%}    
                                    
                                    <a data-toggle="modal" href="#name" class="" id="timeline-img" name="{{v.1}}">
                                        
                                        <img src="{{v.0}}" alt="" style="height:100px;width: 100px;" >
                                    </a>

                                    <div class="modal" id="name" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog" id="popup-replace">

                                            </div>
                                            </div>
                                    
                                    {%endfor%}
                                

                                </div>
                                    
                            </div>

                        
                        </div>
                            

 -->



                          
                          <div class="p-timeline">
                            <div class="row" id="timeline-edit-selecte">
                           <div class="pt-line text-right">
                                    
                                    <span class="d-block">{{prepre_year}}</span>
                                    {{prepre_day_month}}
                            </div>  
                               
                                
                                {%for k,v in prepre_dict.items%}
                                
                                
                                <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;width: 82px">
                                    
                                    <div class="thumbnail" style="margin-bottom:0px;border:none;">
                                        
                                        <p style="display: none"><img src="/static/images/green-tick.png" class="" alt="" style="height:30px;width:30px"></p>
                                        
                                        <input type="checkbox" name="vehicle" value="{{uuid}}" class="multcheckbox" style="display:none;">

                                        <img src="{{v.0}}" alt="" style="height:100px;width: 100px;" >
                                        <!-- <strong>{{image.1}}</strong> -->
                                        
                                    </div>
                                   
                                </div>
                                {%endfor%}
                                                                

                                    </div>
                            </div>












                           
                            
                            
                    </div>
                    </div>
                </div>

            </section>
        </section>


<!-- <script type="text/javascript">   
    $( document ).ready(function() {
       setInterval(function(){
        alert("alert")
           /* $.getJSON('/mysensor/update',
                    function (data) {
                        var json = data['latest_results_list'];
                        var tr;
                         $('#myTable tbody').html("");
                        for (var i = 0; i < json.length; i++) {
                            tr = $('<tr/>');
                            tr.append("<td>" + json[i].date + "</td>");
                            tr.append("<td>" + json[i].time + "</td>");
                            tr.append("<td>" + json[i].temperature + "</td>");
                            tr.append("<td>" + json[i].humidity + "</td>");
                             $('#myTable tbody').append(tr);

                        }
                    });*/
       },5000);
    });

</script>         -->
<!-- <script type="text/javascript">

var interval = 60000;  // 1000 = 1 second, 3000 = 3 seconds
function doAjax() {
    //alert("gsdhg")
    $.ajax({

            //console.log("hello")
            type: 'GET',
            url: '/testing/',
            data: {name:"vinod"},
            //dataType: 'json',
            success: function (data) {
                    $("#autoupdate").html(data)
                    //console.log("data updated")
                    alert("data")
                    //$('#hidden').val(data);// first set the value     
            },
            complete: function (data) {
                    // Schedule the next
                    setTimeout(doAjax, interval);
            }
    });
}
setTimeout(doAjax, interval);

</script> -->
{%endblock%}


